<div class="cart">
  <h1>Shopping Cart</h1>
  <div class="cartSummary" *ngIf="cart.length > 0 ">
    <p>You have {{ cart.length }} items in your shopping cart.
      <button *ngIf="cart.length" (click)="clearCart()" class="float-right btn btn-light btn-sm">Clear Shopping Cart</button>
    </p>
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th class="text-center" style="width: 230px">Quantity</th>
            <th class="text-right" style="width: 200px">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>
              <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
              </div>
            </td>
            <td>
              {{ item.product.name }}
            </td>
            <td>
              1
            </td>
            <td class="text-right">
              {{ item.product.price | currency:'USD':true }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{ 23 | currency:'USD':true }}</th>
          </tr>
          <tr>
            <th colspan="4">
              <a *ngIf="cart.length" [routerLink]="['/checkout']" class="btn btn-primary">Checkout</a>
            </th>
          </tr>
        </tfoot>
      </table>
  </div>
  
</div>

<div *ngIf="cart.length == 0">
  <p>You don't have any item in your cart, please shop and add products</p>
</div>
